# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
.nuget/
packages/
*.nupkg

# VS
.vs/
.vscode/
_ReSharper.*/

# OS
.DS_Store
Thumbs.db

# Database
appsettings.Development.json
*.db
*.mdf
*.ldf

# Logs
logs/
*.log

# Runtime
*.runtimeconfig.json